@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-nct-bg: #121715;
  --color-nct-surface: #1e2522;
  --color-nct-player: #0f1311;
  --color-nct-primary: #00d2d2;
  --color-nct-text: #ffffff;
  --color-nct-text-dim: #9daea8;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-white text-gray-900 dark:bg-nct-bg dark:text-nct-text transition-colors duration-300;
}